body{
    min-height: 100vh   ;
    width: 100%;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header{
    height: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 800;

    color: whitesmoke;
    background-color: #1f2937;
}

.header a{
    margin-left: 0px;
    margin-right: 30px;
}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 200;
}

.header-links a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.header-links a:hover{
    color: goldenrod;
}

.content{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    flex: 1;
}

.section{
    width: 100%;
    flex: auto;
}

.section1{
    background-color: #1f2937;
    color: whitesmoke;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.section1-img{
    height: 150px;
    width: 300px;
    background-color: grey;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-no-img{
    display: flex;
    flex-direction: column;

    width: 400px;
}

.footer{
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1f2937;
    color: whitesmoke;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
    margin-bottom: 20px;
}

.section2-img{
    height: 180px;
    width: 180px;
    border:5px solid;
    border-radius: 15%;
    border-color: #3882f6;
}

.section2-part2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
}

.section2-part2-unit{
    width: 100%;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.section2-part2-unit label{
    margin-left: 15px;
    font-weight: 100;

    color: grey;
}

.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: rgb(155, 152, 152);
}

.section3-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 600px;
    height: 300px;

    color: whitesmoke;
}

.section4{
    display: flex;
    align-items: center;
    justify-content: center;

    height:330px;
    width: 100%;
}

.section4-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 200px;
    width: 1200px;
    border-radius: 3%;

    background-color: #3882f6;
    color: whitesmoke;
}

.section1 button{
    max-width: 100px;
    height: 35px;
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    font-size: medium;
    border-radius:10%;

    border-width: 4px;
    border-color: whitesmoke;
    background-color:#3882f6;
    color: white;
}
.section1 button:hover{
    color: goldenrod;
    background-color: beige;
}

.section4-content button{
    width:100px;
    height: 50px;
    font-size: large;
    font-weight: 600;

    border-color: whitesmoke;
    border-width: 5px;
    border-radius: 5%;

    color: whitesmoke;
    background-color: #3882f6;
}
.section4-content button:hover{
    color: goldenrod;
    background-color: beige;
}